include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/gobar_harvest *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/gobar_harvest/migration *.ini *.py *.mako
recursive-include ckanext/gobar_harvest/public *.*
